body{
    background: #eee;
}
.wrapper{
    width: 100%;    
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: #fff;
}

.box{
    height: 100px;
    width: 320px;
}
.one{
    background: red;
    flex-shrink: 4;
}
.two{
    background: blue;
    flex-shrink: 5;
}
.three{
    background: green;
    flex-shrink: 6;
}

/* The flex-grow property specifies how much a flex item will grow relative to the rest of the flex items. */

/* The flex-shrink property specifies how much a flex item will shrink relative to the rest of the flex items. */
