body{
    background: #eee;
}
.wrapper{
    width: 100%;    
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: #fff;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}
.one{
    background: red;
    
}
.two{
    background: blue;
    
}
.three{
    background: green;
    
}

/* The flex-grow property specifies how much a flex item will grow relative to the rest of the flex items. */

/* The flex-shrink property specifies how much a flex item will shrink relative to the rest of the flex items. */

/* The flex-wrap property specifies whether the flex items should wrap or not. */
